body, html {
  background: transparent !important;
  margin: 0;
  padding: 0;
}


#events {
  width: 500px;
  height: 250px;
  border: 3px solid #4b546a;
  background: rgb(35 37 45 / 45%);
  position: relative;
}

#label_events {
  position: absolute; 
}


#comp {
  width: 30px;
  position: absolute;
  left: 97px;
}
